.fonte {
  font-family: 'Lobster', cursive;
}

.fontedireita {
  font-family: 'Lobster', cursive;
  text-align: right;
}

.divVerde {
  background-color: rgb(110, 207, 110);
  width: 90%;
  border-top: 0.6rem solid rgb(4, 0, 253);
  border-bottom: 0.6rem solid rgb(4, 0, 253);
}

.divVermelha {
  background-color: rgb(212, 123, 123);
  width: 90%;
  border-top: 0.6rem solid rgb(240, 15, 15);
  border-bottom: 0.6rem solid rgb(240, 15, 15);
}

.tamanho1 {
  margin: 0.6rem;
  width: 6rem;
}

.tamanho2 {
  margin: 0.3rem;
  width: 12rem;
}

.tamanho3 {
  margin: 0.3rem;
  width: 18rem;
}

.tamanho4 {
  margin: 0.3rem;
  width: 24rem;
}

.tamanho5 {
  margin: 1.2rem 1.2rem 1.2rem 30%;
  width: 24rem;
}

.tamanho6 {
  margin: 1.2rem;
  width: 18rem;
}

.tamanho7 {
  margin: 1.2rem;
  width: 12rem;
}

.tamanho8 {
  margin: 1.2rem;
  width: 6rem;
}




